/* HTML */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 200px; /* bottom = footer height */
    background: #f4f4f4;
    min-width: 380px;
    opacity: 0;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: #7893bf;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #767777;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

/* Articles */
article {
    box-sizing: border-box;
    max-width: 768px;
    margin: 0 auto 0 auto;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #3d3d3d;
}

article section {
  margin-bottom: 30px;
}

article li {
  margin-bottom: 10px;
}

.content a {
    text-decoration: none;
    color: #0075d1;
    -webkit-transition: color .5s;
    transition: color 1s;
}

.content a:hover {
    color: #a95eff;
    -webkit-transition: color .5s;
    transition: color 1s;
}

.testimonials {
  list-style: none;
  padding: 10px 10px 0 10px;
  max-width: 600px;
  margin: 0 auto;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  text-align: justify;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-list li {
    padding-left: 35px;
    position: relative;
    margin-bottom: 10px;
}

.list-download {
    background: url('../img/icon_download.png') no-repeat;
}

.list-github {
    background: url('../img/icon_github.png') no-repeat;
}

.list-guide {
    background: url('../img/icon_guide.png') no-repeat;
}

.list-video {
    background: url('../img/icon_video.png') no-repeat;
}

.list-play {
    background: url('../img/icon_play.png') no-repeat;
}

.list-email {
    background: url('../img/icon_email.png') no-repeat;
}

.list-skype {
    background: url('../img/icon_skype.png') no-repeat;
}

.list-reddit {
    background: url('../img/icon_reddit.png') no-repeat;
}

.list-twitter {
    background: url('../img/icon_twitter.png') no-repeat;
}

@media only screen and (max-width: 1024px)  {
    
    article {
        width: 90%;
        font-size: 16px;
    }
    
    blockquote {
        font-size: 14px;
    }

}

/* Nav */
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.nav:after {
    content: "";
    display: table;
    clear: both;
}

.nav li {
    float: left;
}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 8px 14px;
    background: none;
    -webkit-transition: .5 background;
    transition: .5s background;
}

.main-nav a:hover {
    background: #383838;
    -webkit-transition: .5 background;
    transition: .5s background;
}

.main-nav {
    background: #232323;
    color: #FFFFFF;
    position: relative;
    z-index: 1000;
}

.main-nav .active,
.main-nav .active:hover {
    background: #4082CC;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/* Banner */
.banner {
    height: 400px;
    text-align: center;
    display: table;
    width: 100%;
    margin-bottom: 40px;
}

.banner-container {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    text-align: center;
}

.banner-mug {
    width: 140px;
    margin: 0 auto 20px auto;
    height: 100px;
}

.banner-mug img {
    position: relative;
    left: 8px;
    float: left;
}

.code-smoke {
    position: relative;
    top: -100px;
    left: 18px;
    width: 86px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 20px;
}

.code-smoke span {
    opacity: 0;
}

.code-smoke-part {
    -webkit-animation: code-float 4s linear 0s infinite;
    animation: code-float 4s linear 0s infinite;
    position: relative;
    opacity: 0;
}

@keyframes code-float {
   0% { left: 0; top: 0px; opacity: 0; }
   25% { left: -17px; }
   50% { left: 0px; opacity: 1; }
   75% { left: 10px; }
   100% { left: 0; top: -100px; opacity: 0; }
}

.banner-title {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.banner-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

@media only screen and (max-width: 1024px)  {
    
    .banner {
        height: 350px;
    }
    
}

/* Projects */
.project-table {
    max-width: 1024px;
    margin: 0 auto;
    display: table;
    vertical-align: middle;
}

.project-cell {
    display: table-cell;
    box-sizing: border-box;
    padding: 0 20px;
    width: 320px;
}

.project-container {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.project-thumb {
    width: 100%;
    height: 247px;
    background-size: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.project-webm {
    width: 100%;
    float: left;
    position: relative;
}

.project-content {
    height: 136px;
    margin-bottom: 40px;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #292a2b;
    padding: 8px;
    position: relative;
}

.project-title {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.project-type {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #7aa0bf;
    margin: 4px 0 10px;
}

.project-description {
  margin: 16px 0;
}

.read-more {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.type-wp:before {
  content: "\eab4";
}

.type-play:before {
  content: "\e916";
}

.type-code:before {
  content: "\ea80";
}

.type-map:before {
  content: "\e947";
}

@media only screen and (max-width: 1024px)  {
    
    .project-cell {
        display: block;
        width: 420px;
    }
    
    .project-thumb {
        height: 336px;
    }
    
}

@media only screen and (max-width: 640px)  {
    
    .project-cell {
        display: block;
        width: 320px;
    }
    
    .project-thumb {
        height: 247px;
    }
    
}

/* Footer */
.footer {
    background: #232323;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 160px;
    width: 100%;
    text-align: center;
    display: table;
    min-width: 380px;
}

.social-nav,
.footer-nav {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.footer-nav .nav {
    display: inline-block;
}

.social-menu {
    margin-bottom: 10px;
}

.social-menu a {
    font-size: 28px;
    padding: 2px 6px;
    margin: 6px;
    color: #FFFFFF;
}

/*! Lity - v2.2.2 - 2016-12-14
* http://sorgalla.com/lity/
* Copyright (c) 2015-2016 Jan Sorgalla; Licensed MIT */
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.lity.lity-opened {
  opacity: 1;
}
.lity.lity-closed {
  opacity: 0;
}
.lity * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}
.lity-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.lity-loading .lity-loader {
  opacity: 1;
}
.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}
.lity-content {
  z-index: 9993;
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
}
.lity-loading .lity-content,
.lity-closed .lity-content {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}
.lity-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.lity-close:active {
  top: 1px;
}
/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}
/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}
.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}
.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}
.lity-hide {
  display: none;
}

/* Icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?60we9d');
  src:  url('../fonts/icomoon.eot?60we9d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?60we9d') format('truetype'),
    url('../fonts/icomoon.woff?60we9d') format('woff'),
    url('../fonts/icomoon.svg?60we9d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"],
.project-type:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e912";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-file-play:before {
  content: "\e929";
}
.icon-file-video:before {
  content: "\e92a";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-pound:before {
  content: "\e93d";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-location:before {
  content: "\e947";
}
.icon-printer:before {
  content: "\e954";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-tongue2:before {
  content: "\e9e4";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-grin2:before {
  content: "\e9ea";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-baffled2:before {
  content: "\e9f4";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-confused2:before {
  content: "\e9f6";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-hipster2:before {
  content: "\e9fa";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-spell-check:before {
  content: "\ea12";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-page-break:before {
  content: "\ea68";
}
.icon-superscript:before {
  content: "\ea69";
}
.icon-subscript:before {
  content: "\ea6a";
}
.icon-superscript2:before {
  content: "\ea6b";
}
.icon-subscript2:before {
  content: "\ea6c";
}
.icon-table:before {
  content: "\ea70";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
.icon-indent-decrease:before {
  content: "\ea7c";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-soundcloud2:before {
  content: "\eac4";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-git:before {
  content: "\eae7";
}