<footer>
    <div class="row">
      <div class="col">
        
        <div class="footer-logo" style="width: 360px; margin: 0 auto;">
            <div style="padding-right:20px; float: left;">
              <img class="mug" src="/assets/images/mug_large_white.png">
            </div>
            <div class="footer-logo-text" style="float:left;">
              <h2>Michael Dearman</h2>
              <h3>Web &amp; Game Developer</h3>
            </div>
            <div style="width:100%; display: block; float: left; padding-top: 10px;">
              A pun-loving programmer based in London <br>
              that specializes in WordPress and video <br>
              game development.
            </div>
        </div>

      </div>

      <div class="col">

      </div>
    </div>
  </footer>

    <!-- Syntax Highlighting -->
    {% if page.syntaxHighlight %}
        <link rel="stylesheet" href="/assets/css/prism.css">
        <script>
            $('code').addClass('language-{{ page.syntaxLang }}');
        </script>
        <script src="/assets/js/prism.js"></script>
    {% endif %}
    <!-- Syntax Highlighting -->

</body>


</html>