<footer>
  <section id="footer" class="flex-grid">
    <div id="footer-copyright" class="flex-col">
      <span class="grey">&copy; 2019</span>
      &nbsp;&nbsp;
      <b>MickeyUK</b>
    </div>
    <div id="footer-links" class="flex-col">
      <ul class="nav nav-horz social-links">
        <li><a href="https://github.com/{{ site.social.github }}" target="_blank"><i class="icon icon-github"></i></a></li>
        <li><a href="https://www.reddit.com/user/{{ site.social.reddit }}" target="_blank"><i class="icon icon-reddit"></i></a></li>
        <li><a href="https://twitter.com/{{ site.social.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/channel/{{ site.social.youtube }}" target="_blank"><i class="icon icon-play"></i></a></li>
        <li><a href="https://www.facebook.com/{{ site.social.facebook }}" target="_blank"><i class="icon icon-facebook2"></i></a></li>
        <li><a href="https://steamcommunity.com/id/{{ site.social.steam }}" target="_blank"><i class="icon icon-steam2"></i></a></li>
      </ul>
    </div>
  </section>
</footer>