<footer>
  <section class="panel flex-grid">
    <div class="flex-col">
      <div class="footer-container">
          <div class="footer-logo">
            <img src="{{ site.assets.images }}/mug_large_white.png" alt=""/>
          </div>
          <div class="footer-copyright">
            <span class="grey"><span class="copyright">&copy;</span> 2018</span>&nbsp;&nbsp;MickeyUK
          </p>
        <ul class="nav nav-horz social-links">
          <li><a href="https://github.com/{{ site.social.github }}" target="_blank"><i class="icon icon-github"></i></a></li>
          <li><a href="https://www.reddit.com/user/{{ site.social.reddit }}" target="_blank"><i class="icon icon-reddit"></i></a></li>
          <li><a href="https://twitter.com/{{ site.social.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/channel/{{ site.social.youtube }}" target="_blank"><i class="icon icon-play"></i></a></li>
          <li><a href="https://www.facebook.com/{{ site.social.facebook }}" target="_blank"><i class="icon icon-facebook2"></i></a></li>
          <li><a href="https://steamcommunity.com/id/{{ site.social.steam }}" target="_blank"><i class="icon icon-steam2"></i></a></li>
        </ul>
      </div>
    </div>
</footer>