<header class="site-header" role="banner">

    <div class="wrapper">
      <div id="menu-toggle">
        <a href="#" style="float: right;" onclick="event.preventDefault(); $('#nav-main').slideToggle('fast'); $('#menu-contents').slideToggle('fast');">Menu</a>
      </div>
      <nav id="nav-main">
        <ul class="nav nav-horz">
          <li><a href="/" {% if include.active == "Projects" %}onclick="event.preventDefault()" class="active"{% endif %}>Projects</a></li>
          <li><a href="https://mickeyuk.portfoliobox.net/" target="_blank">Design Work</a></li>
          <li><a href="/blog" {% if include.active == "Blog" %}onclick="event.preventDefault()" class="active"{% endif %}>Blog</a></li>
          <li><a href="/about" {% if include.active == "About Me" %}onclick="event.preventDefault()" class="active"{% endif %}>About Me</a></li>
          <li><a href="/about#contact" {% if include.active == "About Me" %}onclick="event.preventDefault()" class="active"{% endif %}>Contact</a></li>
        </ul>
      </nav>
    </div>

</header>