  <script src="/assets/js/scrollify.js"></script>
  <script>
    /**
    * Initialize videos.
    */
    function initVideo() {
      $(".project-container").hover( hoverVideo, hideVideo );
    }

    /**
    * Play webm video on hover.
    * 
    * @param {object}
    * @returns {void}
    */
    function hoverVideo(e) {
      $('img', this).remove();
      $('video', this).get(0).play();
    }

    /**
    * Stop webm video on mouse leave.
    * 
    * @param {object}
    * @returns {void}
    */
    function hideVideo(e) {
      $('video', this).get(0).pause();
      $('video', this).get(0).currentTime = 0;
    }
  </script>

  <script>
    /**
    * Resize flex grid with window.
    * 
    * @param {int} The window size.
    * @returns {void}
    */
    function gridResize(windowSize) {
      
      // Update panels
      if (windowSize < 1320) {
        $('.flex-col').addClass('panel');
        $('.flex-grid').removeClass('panel');
      } else {
        $('.flex-grid').addClass('panel');
        $('.flex-col').removeClass('panel');
      }

      // Update scrollify
      $.scrollify.update();

    }

    /**
    * Detects if user is on touch device.
    * @returns {boolean}
    */
    function isTouchDevice() {
      return 'ontouchstart' in document.documentElement;
    }

    // Adjust flex grid on resize
    gridResize($(window).width());
    $(window).resize(function(){
      gridResize($(window).width());
    });
  </script>

  <script>
    $(function() {

      // Hover videos
      initVideo();

      // Scrollify
      $.scrollify({
        section: ".panel",
        after: function() {
          
          // Play videos
          if (isTouchDevice()) {
            $('video', $.scrollify.current()).get(0).play();
          }

        }
      });

      // Scrollify
      $(".scroll-link").click(function(e) {
        e.preventDefault();
        $.scrollify.move($(this).attr("href"));
      });
    });
  </script>