<script>

    // Get canvas
    var c = document.getElementById('code-smoke');
    var ctx = c.getContext('2d');
  
    // Emitter range
    var emitterX1 = (c.width/2)-65;
    var emitterX2 = (c.width/2)+30;
  
    // Random int
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
  
    function getRandomFloat(min, max) {
        return Math.random() * (max - min + 1) + min;
    }
  
    // Particle type
    function CodePart() {
  
        // Random character
        this.char = getRandomInt(0, 1);
  
        // Random size
        this.size = getRandomInt(20, 40);
  
        // Colours
        var codeColors = ['#ffa02d', '#8fff2d', '#FFFFFF', '#FFDE00', '#FF8CF7', '#00D4FF', '#FF4F4C'];
        this.color = codeColors[getRandomInt(0, codeColors.length-1)];
  
        // Starting position
        this.startX = getRandomInt(emitterX1, emitterX2);
        this.startY = c.height + this.size;
  
        // Duration
        this.animationDuration = 1000;
  
        // Set the speed for our particle
        this.speed = {
            x: getRandomFloat(.01, .02),
            y: -getRandomFloat(.2, .3)
        };
  
        // Set a max time to live for our particle
        this.life = 200 + Math.random() * 10;
        this.remainingLife = this.life;
  
        // Draw particle
        this.draw = ctx => {
  
            let p = this;
  
            // If particle still alive
            if(this.remainingLife > 0 && this.size > 0) {
  
                // Font
                ctx.font = this.size+'px Courier New';
  
                // Shadow
                ctx.fillStyle = 'rgba(0, 0, 0, .3)';
                ctx.fillText(p.char, p.startX+1, p.startY+1);
  
                // Draw
                ctx.fillStyle = this.color;
                ctx.fillText(p.char, p.startX, p.startY);
                
                // Update the particle's location and life
                p.remainingLife--;
                if (p.startY < c.height) {
                    p.size -= 0.15;
                    p.startX += p.speed.x;
                }
                p.startY += p.speed.y;
  
            }
  
        }
  
    }
  
    // Particle stream
    var particles = [];
    (function loop() {
        var rand = getRandomInt(100, 300);
        setTimeout(function() {
            
            // Create particle
            if (document.hasFocus()) {
                var particle = new CodePart();
                particle.startTime = Date.now();
                particles.push(particle);
            }
  
            // Repeat loop
            loop();
  
        }, rand);
    }());
  
    // Animation
    function update() {
  
        // Clear out the old particles
        if(typeof ctx !== "undefined") {
            ctx.clearRect(0, 0, c.width, c.height);
        }
  
        // Draw all of our particles in their new location
        for(let i = 0; i < particles.length; i++) {
  
            particles[i].draw(ctx);
  
        }
        
        // Animate performantly
        window.requestAnimationFrame(update);
  
    }
  
    window.requestAnimationFrame(update);
    
  </script>