@charset "utf-8";

// Typography & Formatting
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;

$header-font-family: 'Patua One', cursive;
$subheader-font-family: 'Passion One', cursive;

$small-font-size:  $base-font-size * 0.875 !default;

$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;

$table-text-align: left !default;

// Colours
$banner-color: #242424;

$link-color: #6288F7;
$hover-color: #AF83E7;

$text-color:       #333333 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$white-color:      #F4F4F4;
$grey-color:       #A3A3A3 !default;
$grey-color-light: lighten($grey-color, 10%) !default;
$grey-color-dark:  darken($grey-color, 15%) !default;

// Breakpoints
$content-width:    800px !default;
$on-tablet:        1024px !default;
$on-palm:          420px !default;

// Media Queries @include media-query($on-palm)
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@function ratio($width, $height) {
  @return percentage( $height / $width);
}

@mixin generateRatios($width, $height, $prefix: "ratio-") {

  $class-name: $prefix + $width + "x" + $height;

  .#{$class-name} {
    padding-bottom: ratio($width, $height);
  }

}

@include generateRatios(16,9);
@include generateRatios(4,3);

// Partials
@import "mickeyuk/base";
@import "mickeyuk/icons";
@import "mickeyuk/layout";
@import "mickeyuk/form";
@import "mickeyuk/nav";
@import "mickeyuk/hero";
@import "mickeyuk/projects";
@import "mickeyuk/article";
@import "mickeyuk/footer";
@import "mickeyuk/effects";
@import "mickeyuk/blog";