{% include header.html %}

<div id="article-container" style="height: 100vh; text-align: center;">
    <div style="display: flex; flex: 1">
        <div style="width: 100%; display: flex;justify-content: space-between;">
            <div style="flex: 1;display: flex; align-items: center; justify-content: center;">
                <div id="404-tweet" style="display: none;">
                </div>
            </div>
        </div>
    </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  $(document).ready(function(){
    var quotes = [
      [
        "https://twitter.com/TomCruise/status/16726192933",
        "Sorry, I would try and fix this page but I am currently trying to harness all this Bieber energy for my next project.<br>Click <a href=\"javascript:history.go(-1)\">HERE</a> to go back."
      ],
      [
        "https://twitter.com/officialjaden/status/464965225943662592",
        "Sorry, whatever you were looking for is no longer here. You can try looking at your hands or whatever, or click <a href=\"javascript:history.go(-1)\">HERE</a> to go back."
      ],
      [
        'https://twitter.com/billyraycyrus/status/608133696932020224',
        'Indeed...like where the stuffing this page has gone.<br>Click <a href=\"javascript:history.go(-1)\">HERE</a> to go back.'
      ],
      [
        'https://twitter.com/edsheeran/status/6462855740',
        'I dunno...minerals, or something.<br>The better question is where has this page gone?<br>Click <a href=\"javascript:history.go(-1)\">HERE</a> to go back.'
      ]
    ];
    var quote = quotes[Math.floor(Math.random() * quotes.length)];
    $.ajax({
      url: "https://publish.twitter.com/oembed?hide_media=true&url="+quote[0],
      dataType: "jsonp",
      success: function( response ) {
          $("#404-tweet").html(response.html);
          $("#404-tweet").append('<div class="post-container" style="max-width:500px; margin-top: 20px;">'+quote[1]+'</div>');
          $("#404-tweet").delay(500).fadeIn("fast");
      }
    });
  });
</script>

{% include footer.html %}