<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="page" {% if page.background != '' %} style="background-image: url({{ page.background }});" {% endif %}>

    {% include header.html %}

    <div id="main">

      <div id="page-body">
        <aside id="sidebar">
          <div id="sidebar-contents">
            <div id="article-thumbnail">
              <img src="/assets/images/thumbs/{{ page.thumbnail }}" alt=""/>
            </div>
            <ul id="article-contents"></ul>
          </div>
        </aside>
        <main id="page-content">
          <article>
            <div class="article-header">
              <h1>{{ page.title }}</h1>
              <h2>{{ page.type }}</h2>
            </div>
            <div class="article-content">
              {{ content }}
              <div id="contact-form">
                <form method="POST" action="https://formspree.io/mickeyuk@live.co.uk">
                  <input name="email" placeholder="Your email" type="email">
                  <textarea name="message" placeholder="Your message"></textarea>
                  <button type="submit">Send</button>
                </form>
              </div>
            </div>
          </article>
        </main>
      </div>

      {% include footer.html %}

    </div>

  </body>

  {% include jquery.html %}
  
  {% include script-article.html %}

  {% if page.syntaxHighlight %}
    {% include script-highlight.html %}
  {% endif %}

  <!-- Video popup -->
  {% if page.video != '' %}
    <script src="/assets/js/lity.js"></script>
    <script>
      $('#article-contents').append('<li><a data-lity="" href="{{ page.video }}">Video</a></li>');
    </script>
  {% endif %}

</html>