<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="page" {% if page.background != '' %} style="background-image: url({{ page.background }});" {% endif %}>

    {% include header.html %}

    <div id="main">

      <div id="page-body">
        <aside id="sidebar">
          <div id="sidebar-contents">
            <div id="article-thumbnail">
              <img src="{{ page.thumbnail }}" alt=""/>
            </div>
            <ul id="article-contents"></ul>
          </div>
        </aside>
        <main id="page-content">
          <article>
            <div class="article-header">
              <div class="thumbnail">
                <img src="{{ page.thumbnail }}" alt=""/>
              </div>
              <h1>{{ page.title }}</h1>
              <h2>{{ page.type }}</h2>
            </div>
            <div class="article-content">
              {{ content }}
              <p>
              <div id="contact-form">
                <form method="POST" action="https://formspree.io/mickeyuk2017@gmail.com">
                  <input name="email" placeholder="Your email" type="email">
                  <textarea name="message" placeholder="Your message"></textarea>
                  <button type="submit">Send</button>
                </form>
              </div>
              </p>
              <p>
                <h1 id="testimonials">Testimonials</h1>
                <blockquote>
                  Super nice guy, easy to work with. Helpful and reasonable rates 
                  for his time. Offers suggestions and is quick with the best 
                  solutions. I've honestly never met someone who could dig into 
                  plugins, js and php and make it do exactly what he wants in 
                  just moments. Amazing really.
                  <cite><a href="https://www.reddit.com/r/testimonials/comments/4hk11f/pos_umickeyuk_optimized_the_efficiency_of_my/">not-a-shark</a></cite>
                </blockquote>
                <p>
                <blockquote>
                  Been working with MickeyUK for the last few weeks on a few 
                  different projects and he has been absolutely wonderful. 
                  Very knowledgeable with WordPress and custom plugin development. 
                  Not only does he get the job done quick and effectively, but his 
                  rates are very fair. Would recommend Mickey to anybody looking for 
                  a developer for WordPress work, advice, or just a pretty face 
                  to talk to!
                  <cite><a href="https://www.reddit.com/r/testimonials/comments/6egiej/pos_umickeyuk_my_wordpress_savior/">HeyItsDan</a></cite>
                </blockquote>
                <p>
                <blockquote>
                  He's some sort of coding wizard! He's sorted out all the problems I've had 
                  over the years, always with a can-do attitude.
                  <cite><a href="https://reddit.com/u/confusedaboutjokes">confusedaboutjokes</a></cite>
                </blockquote>
              </p>
              <p>
                <!-- PeoplePerHour Profile Widget -->
                <div id="pph-hireme"></div>
                <script type="text/javascript">
                (function(d, s) {
                    var useSSL = 'https:' == document.location.protocol;
                    var js, where = d.getElementsByTagName(s)[0],
                    js = d.createElement(s);
                    js.src = (useSSL ? 'https:' : 'http:') +  '//www.peopleperhour.com/hire/135073514/2989584.js?width=300&height=255&orientation=vertical&theme=light&hourlies=552406&rnd='+parseInt(Math.random()*10000, 10);
                    try { where.parentNode.insertBefore(js, where); } catch (e) { if (typeof console !== 'undefined' && console.log && e.stack) { console.log(e.stack); } }
                }(document, 'script'));
                </script>
              </p>
            </div>
          </article>
        </main>
      </div>

      {% include footer.html %}

    </div>

  </body>

  {% include jquery.html %}
  
  {% include script-article.html %}

  {% if page.syntaxHighlight %}
    {% include script-highlight.html %}
  {% endif %}

  <!-- Video popup -->
  {% if page.video != '' %}
    <script src="/assets/js/lity.js"></script>
    <script>
      $('#article-contents').append('<li><a data-lity="" href="{{ page.video }}">Video</a></li>');
    </script>
  {% endif %}

</html>