<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="page" {% if page.background != '' %} style="background-image: url({{ page.background }});" {% endif %}>

    {% include header.html contents=true %}

    <div id="main">

      <div id="page-body">
        <aside id="sidebar">
          <div id="sidebar-contents">
            <div id="article-thumbnail">
              <img src="{{ page.thumbnail }}" alt=""/>
            </div>
            <ul id="article-contents"></ul>
          </div>
        </aside>
        <main id="page-content">
          <article>
            <div class="article-header">
              <h1>{{ page.title }}</h1>
              <h2>{{ page.type }}</h2>
            </div>
            <div class="article-content">
              {{ content }}
              <div id="places-scraper-demo">
                <h1 id="demo">Demo</h1>
                <p>
                You can play the game in it's current state by clicking the play button 
                below!
                <form id="demo-form" method="GET">
                  <center><button id="form-submit" type="submit">Play</button></center>
                </form>
              </div>
            </div>
          </article>
        </main>
      </div>

      <div id="game-container">
        <div id="game">
        </div>
      </div>

      {% include footer.html %}

    </div>

  </body>

  {% include jquery.html %}
  
  {% include script-article.html %}

  {% if page.syntaxHighlight %}
    {% include script-highlight.html %}
  {% endif %}

  <!-- Video popup -->
  {% if page.video != '' %}
    <script src="/assets/js/lity.js"></script>
    <script>
      $('#article-contents').append('<li><a data-lity="" href="{{ page.video }}">Video</a></li>');
    </script>
  {% endif %}

  <script>
    $('#demo-form').submit(function(e){

      e.preventDefault();
      $("#form-submit").attr("disabled", true);

      $('<iframe src="/demos/js-coins/index.html"></iframe>').appendTo('#game');

      $('html, body').animate({
          scrollTop: $('#game').offset().top - 80
        }, 500, function() {
          $('#game').focus();
          if ($('#game').is(":focus")) {
            return false;
          } else {
            $('#game').attr('tabindex','-1');
            $('#game').focus();
          };
      });

    });
  </script>

</html>