{% include header.html %}

<div class="form-center">
    <p>
        Do you want to work on something together? Want to hire me for something? Want to just say howdy? Please do! 
        You can reach out to me via this contact form, or through my various social network handles below.
    </p>
    <form method="POST" action="https://formspree.io/f/xqkgnlyy">
        <div class="form-group input-effect">
            <input name="email" class="effect-19" type="text" placeholder="">
            <label>Your E-Mail Address</label>
            <span class="focus-border"><i></i></span>
        </div>
        <div class="form-group input-effect">
            <textarea name="message" class="effect-19"></textarea>
            <label>Your Message</label>
            <span class="focus-border"><i></i></span>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Send">
        </div>
    </form>
</div>

{% include footer.html %}