<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body onload="">

    {% include header.html active="Projects" %}

    <!-- HERO SHOWREEL -->
    <section class="panel hero">
      <div class="video-background">
        <div id="video-foreground"></div>
      </div>
      <div class="inner">
        <div class="vertical-center">
          {% include code-mug.html %}
          <h1>Hi, I'm Mickey!</h1>
          <h2>I make <a class="scroll-link" href="#2">stuff</a>.</h2>
        </div>
      </div>
    </section>

    <!-- Project post loop -->
    <div id="content">
      {% assign rows = site.projects.size | divided_by: 3.0 | ceil %}

      {% for i in (1..rows) %}

        {% assign offset = forloop.index0 | times: 3 %}

        <section class="flex-grid" style="width: 100%;">

          {% assign projects = site.projects | sort: 'order' %}
          {% for project in projects limit:3 offset:offset %}
            
            <div class="flex-col panel">

              <div class="project-container">
                <a href="{{ project.url }}">
                  <div class="project-thumb" style="background-image: url('/assets/images/thumbs/{{ project.thumbnail }}');">
                    <video class="project-webm" loop preload="none">
                      <source src="/assets/webm/{{ project.webm }}" type="video/webm">
                    </video>
                  </div>
                </a>
                <div class="project-meta">
                    <div class="project-header">
                      <div class="project-icon">
                        <div class="icon icon-{{ project.icon }}" style="font-size: 50px;"></div>
                      </div>
                      <div class="project-title">
                        <h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
                        <ul class="meta-links">
                          {% for category in project.categories %}
                            <li><a href="#">{{ category }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <div class="project-desc">
                        {{ project.description }}
                        <p style="text-align: right; font-weight: bold;">
                          <a href="{{ project.url }}">Read More</a>
                        </p>
                    </div>
                </div>
              </div>

            </div>

          {% endfor %}

        </section>

      {% endfor %}
    </div>

    {% include footer-panel.html %}

    {% include jquery.html %}

    {% include script-grid.html %}

    {% include script-youtube.html %}

  </body>

</html>